<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Update Customer</h4>
    </div>
    <div class="card-body">
        <form action="/admin/updateCustomer/<%= customer._id %>" method="post" class="needs-validation">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="col-form-label" for="username">Username</label>
                        <input type="text" class="form-control" value="<%= customer.username %>" name="username" placeholder="enter your username" id="username">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="col-form-label" for="email">E-mail</label>
                        <input type="email" class="form-control" value="<%= customer.email %>" name="email" placeholder="example@email.com" id="email">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="col-form-label" for="email">Phone number</label>
                        <input type="number" class="form-control" value="<%= customer.phone %>" name="phone" placeholder="Phone number" id="phone">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label class="col-form-label" for="lastname">Password</label>
                        <input type="password" class="form-control" value="<%= customer.lastname %>" name="pssword" placeholder="Password" id="pssword">
                    </div>
                </div>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" aria-label="role" name="role" value="Admin" id="btnradio1" autocomplete="off" checked="" selected required>
                    <label class="btn btn-outline-primary" for="btnradio1">Admin</label>
                    <input type="radio" class="btn-check" aria-label="role" name="role" value="Customer" id="btnradio2" autocomplete="off" checked="">
                    <label class="btn btn-outline-primary" for="btnradio2">Customer</label>
                </div>
            </div>
            <div class="">
                <button type="submit" class="btn btn-success">Update</button>
                <a href="/admin" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>