<h3><%= data.name %></h3>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="#"><%= data.type %></a></li>
    <li class="breadcrumb-item active"><%= data.name %></li>
</ol>
<div class="row">
    <div class="col-md-7">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <% if(data.image && data.image.data!=undefined){ %>
            <img src="data:image/<%=data.image.contentType%>;base64,<%=data.image.data.toString('base64')%>" class="img-fluid"/>
            <% }else { %>
            <img src="<%=data.img%>" class="img-fluid"/>
            <% } %>
            <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title"> <%= data.name%> </h5>
                <h6 class="card-subtitle mb-2 text-muted">Price &#8369; <%=data.price%></h6>
                <p class="card-text">
              <%= data.desc %>
                </p>
            <div class="action-button d-flex flex-column align-items-center ">
                <div class="form-group">
                    <div class="col">
                        <%  let addtoCart
                            if(user === "Guest") { 
                                addtoCart='/loginCustomer' 
                            } 
                            else { 
                                addtoCart=`/user/cart/${data._id}/${user.id}` 
                            } %>
                        <form action="<%=addtoCart%>" method="post" class="d-flex justify-content-evenly">
                            <div class="form-outline mr-2">
                                <button type="submit" class="btn btn-success">Add to Cart</button>
                            </div>
                            <div class="form-outline">
                                <input type="number" id="typeNumber" class="form-control" min=1 max=5 value="1" name="quantity"/>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
            <!-- <a href="/products/<%=data._id%>" class="btn btn-success"></a> -->
        </div>
    </div>

    <div class="col-md-5">
        <h2>Create a Review</h2>
        <form action="/products/<%=data._id%>/user/review/<%=user.id%>" class="rating-system" method="POST" needs-validation id="form1">
            <div class="rating-num mb-2">
                <label class="form-label" for="customRange2">Give Your Rating</label>
                <div class="range">
                    <fieldset class="starability-grow">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rate" value="0" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rate" value="1" required/>
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rate" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rate" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rate" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rate" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
            </div>
            <div class="review-item form-outline mb-3">
                <textarea class="form-control" id="textAreaExample" name="feedback" rows="4"></textarea>
                <label class="form-label" for="textAreaExample" required>Write a Product Review</label>
                <div class="error error text-danger"></div>
            </div>
            <div class="submit-button"><button type="submit" class="btn btn-primary mb-4">Save</button></div>
        </form>
  
        <div class="all-comments">
            <h2> Product Reviews</h2>
            <hr>
            <div class="all-reviews">
                <% if(data.reviews.length>0){
                let avgSum=0;
                data.reviews.forEach((item)=>{
                    avgSum+=item.rating
                })
                avgSum=Math.round(avgSum/data.reviews.length);
                if(avgSum>0){ %>
                    <div class="avgRating my-3">
                        <h4>Average Customer Rating</h4>
                        <p class="starability-result mt-2" data-rating="<%=avgSum%>"></p>
                        <h5><i>Rating : </i><%=avgSum%> out of 5</h5>
                    </div>
                <%}
                for(index of data.reviews.reverse()){ %> 
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Rating : <p class="starability-result mt-2" data-rating="<%=index.rating%>"></p></h5>
                        <i class="card-subtitle mb-2 text-muted">given by <strong>"<%= index.user %>" </strong>(verfied user)</i>
                        <p class="card-text">
                        <%= index.comment %> 
                        </p>
                        <% if(user){
                         if(user.username == index.user){ %>
                        <div class="cardbtn pb-2 d-flex">
                            <a type="button" href="/products/<%=data._id%>/reviews/<%=index._id%>" class="btn btn-primary btn-sm me-2">Edit</a>
                            <form action="/products/<%=data._id%>/reviews/<%=index._id%>?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                        <%}
                        }
                        if(index.date){%>
                        <div class="card-footer text-muted"><i>Created On <%=String(index.date).slice(0,10)%></i></div>
                        <%}%>
                    </div>
                </div>
                <% }
                }  
                else{ %>
                    <h3 class="no-data">No reviews yet!</h3>
                    
                <% } %>
        
            </div>
        </div>
    </div>
</div>
<script>
    const form = document.getElementById('form1');
    const requiredError = document.querySelector('.error.error');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        // reset errors
        requiredError.textContent = '';
        // get values
        const rating = form.rate.value;
        const comment = form.feedback.value;     

        console.log("rating " + rating + ", comment " + comment);

        try {
            const res = await fetch('/products/<%=data._id%>/user/review/<%=user.id%>', {
                method: 'POST', 
                body: JSON.stringify({ rating, comment }),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data.error);

            if (data.error) {
                requiredError.textContent = data.error;
            }
            if (data.user){
                form.classList.add('was-validated');
                location.reload();
            }
        } catch (err) {
            console.log(err);
        }
    });
</script>